{% extends "base.html" %}

{% block title %} Measurement {% endblock %}

{% block content %}
<img id="tooth" style="border-radius: 50%" src="..\static\img\test-tooth.png">


<div class="measure" style="border-radius: 50%; border: 1px solid black; height: 300px; width: 300px; float: left"><p style="text-align:center;">Drop here to measure</p></div>
<div class="measure" style="border-radius: 50%; border: 1px solid black; height: 200px; width: 200px; float: left"><p style="text-align:center;">Drop here to measure</p></div>
<div class="measure" style="border-radius: 50%; border: 1px solid black; height: 100px; width: 100px; float: left"><p style="text-align:center;">Drop here to measure</p></div>
<div class="measure" style="border-radius: 50%; border: 1px solid black; height: 50px; width: 50px; float: left"><p style="text-align:center;">Drop here to measure</p></div>

<script>
	$(function() {
		$("#tooth").draggable();
		$(".measure").droppable({
			drop: function(event, ui) {
				$(this)
				.addClass("ui-state-highlight")
				.find("p")
					.html("Your tooth is X pixels");
			}
		});
	});
</script>
{% endblock %}
