{% extends "base.html" %}

{% block title %} Measurement {% endblock %}

{% block head_includes %}

<script src="static/js/measure.js"></script>

{% endblock %}

{% block content %}
<img class="tooth" style="border-radius: 50%" src="..\static\img\test-tooth.png">

<div class="col-sm-9">
	<div class="measure" id="1mm"><p style="text-align:center;">1 millimeter</p></div>
	<div class="measure" id="2mm"><p style="text-align:center;">2 millimeters</p></div>
	<div class="measure" id="3mm"><p style="text-align:center;">3 millimeters</p></div>
	<div class="measure" id="4mm"><p style="text-align:center;">5 millimeters</p></div>
	<div class="measure" id="5mm"><p style="text-align:center;">4 millimeters</p></div>
	<div class="measure" id="6mm"><p style="text-align:center;">6 millimeters</p></div>
	<div class="measure" id="7mm"><p style="text-align:center;">7 millimeters</p></div>
	<div class="measure" id="8mm"><p style="text-align:center;">8 millimeters</p></div>
	<div class="measure" id="9mm"><p style="text-align:center;">9 millimeters</p></div>
	<div class="measure" id="10mm"><p style="text-align:center;">10 millimeters</p></div>
	<div class="measure" id="11mm"><p style="text-align:center;">11 millimeters</p></div>
	<div class="measure" id="12mm"><p style="text-align:center;">12 millimeters</p></div>
	<div class="measure" id="13mm"><p style="text-align:center;">13 millimeters</p></div>
	<div class="measure" id="14mm"><p style="text-align:center;">14 millimeters</p></div>
	<div class="measure" id="15mm"><p style="text-align:center;">15 millimeters</p></div>
</div>

<div class="col-sm-3">
	<img class="tooth" style="border-radius: 50%" src="..\static\img\test-tooth.png">
</div>

<script>
	
</script>
{% endblock %}
