{% extends "base.html" %}

{% block title %}Virtual Dig{% endblock %}

{% block head_includes %}
<script src="static/js/jQueryRotate.js"></script>
<script src="static/js/virtualdig.js"></script>
{% endblock %}

{% block content %}
<div id="digarea"></div>
<button id="toggleResults" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#digresults" aria-expanded="false" aria-controls="digresults">Show Collection!</button>
<div id="digresults" class="collapse">
    <h1>&laquo; Collection &raquo;</h1>
    <h2 id="digCounter"></h2>
</div>
{% endblock %}
