{% extends "base.html" %}

{% block title %}Virtual Dig{% endblock %}

{% block head_includes %}
<script src="static/js/jQueryRotate.js"></script>
<script src="static/js/virtualdig.js"></script>
<script src="static/js/cookies.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="digarea" class="col-sm-9">
        	<div id="game-container">
        	</div>
        </div>
        <div id="digresults" class="col-sm-3">
        	<h1>&laquo; Collection &raquo;</h1>
            <h2 id="digCounter"></h2>
        </div>
    </div>
</div>
{% endblock %}
