body > header {
	height: 100px;
}

body > header > nav > ul {
	list-style-type: none;
	height: 100%;
	width: 100%;
	padding-left: 0px;
	margin: auto;
	display: inline-block;
	text-align: center;
}

body > header > nav > ul > li > a {
	display: block;
	font-size: 17px;
	line-height: 50px;
	text-decoration: none;
	color: #fff;
}

body > header > nav > ul > li > a:hover {
	background-color: #fff;
	color: #4285F4;
}

div#digarea {
	width: 80%;
	background-image: url("img/test-sediment.jpg");
	background-size: cover;
	float: right;
}

div#digresults {
	width: 20%;
	float: right;
}