<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- styles -->

    <!-- scripts -->

    <!-- IE HTML5 shim -->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header id="siteheader">
      <nav>
        <ul class="links">
          <li><a href="/home">Home</a></li>
          <li><a href="/virtualdig">Virtual Dig</a></li>
        </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>